html
	head
		title="Example app"
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="theme-color", content="#f37321")
		link(rel="stylesheet", type="text/css", href="/font/icons.css")
		link(rel="stylesheet", type="text/css", href="/font/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
		
	body

